.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: inherit;
    font-size: var(--fs-default);
    font-weight: 200;
    color: var(--color-black);
    background-color: var(--color-white);

    padding: 1rem 2rem;
    border-radius: 100px;
    border: 0;
    box-shadow: var(--shadow-dark);
    cursor: pointer;
    text-decoration: none;

    &--primary {
        background-color: var(--color-primary);
        color: var(--color-white);

        &:hover {
            background: darken(#56cdc4, 10%)
        }
    }

    &--secondary {
        &:hover {
            background: darken(#47484a, 10%)
        }
    }

    &--icon {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        justify-content: flex-start;

        svg {
            height: 2rem;
            width: 2rem;
        }
    }

    &--block {
        width: 100%;
    }

    &--rounded {
        border-radius: 50%;
        background-color: var(--color-white);
        padding: .5rem;

        svg {
            color: var(--color-primary);
        }
    }

    &--light {
        svg {
            color: var(--color-white);
        }
    }
}
