@import '../common/mixins';

.welcome {
    &__container {
        background-color: var(--color-white);
        @include flex-col-between;
    }

    &__image-box {
        margin-top: 4rem;
        @include flex-center;
        flex-direction: column;
    }

    &__image {
        width: auto;
        height: 300px;
        border-radius: 10px;

        &__dots {
            margin-top: 2rem;
            width: 100%;
            @include flex-center;
        }
    }

    &__desc {
        @include flex-center;
        flex-direction: column;
        flex-basis: 100%;
        text-align: center;

        h1 {
            @include header-secondary;
        }

        p {
            @include para-default;
            margin-top: 1rem;
            color: var(--color-black);
        }

        &__actions {
            @include flex-center;
            flex-direction: column;
            width: 100%;
            margin-top: 4rem;
            gap: 1rem;
        }
    }
}
