@import '../common/mixins';

.hd {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow-y: auto;
        position: relative;
    }

    &__banner-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 95vh;
        background: url(../../images/hotel/hotel1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        a {
            width: auto;
        }
    }

    &__banner__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        color: #fff;
        width: 90%;
        padding: 1.5rem 2rem;

        background: rgba(255,255,255,.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 10px;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--left {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;

            h2 {
                @include header-small;
                color: var(--color-white);
                margin-bottom: .6rem;
                line-height: 2.8rem;
            }

            p {
                @include para-default;
                color: var(--color-grey-light);
                font-size: 1.2rem;
            }
        }

        &--right {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            h2 {
                @include header-small;
                color: var(--color-white);
                line-height: 2.5rem;
                font-size: var(--fs-xl);
            }

            small {
                @include para-default;
                color: var(--color-grey-light);
                font-size: 1.1rem;
            }
        }

        &--bottom {
            margin-top: .5rem;
        }
    }

    &__details {
        display: flex;
        width: 100%;
    }

}
