@import '../../common/mixins';

.dash {
    &__nav {
        position: fixed;
        bottom: .5rem;
        left: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 6rem;
        background-color: var(--color-white);
        border-top: var(--line-light);
        padding-top: 1rem;

        &__list {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            width: 100%;

            &-item {
                @include flex-col-4;
                flex-direction: column;
                padding: 1rem;

                svg {
                    height: 2rem;
                    width: 2rem;
                }

                span {
                    color: inherit;
                    margin-top: 0.5rem;

                    a {
                        color: inherit;
                        font-weight: 400;
                        margin: 0;
                    }
                }

                &--default {
                    color: var(--color-primary);
                }
            }
        }
    }
}
