.dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--color-black);
    cursor: pointer;

    &--primary { background-color: var(--color-primary); }
    &--light { background-color: var(--color-white); }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}
