.align-center { text-align: center; }
.align-right {
    text-align: right;
    align-self: flex-end;
}

.mb-4 { margin-bottom: 1rem; }
.mb-8 { margin-bottom: 2rem; }

.para-default {
    @include para-default;
}
.para-muted {
    @include para-muted;
}

.bg-transparent {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

// flex utils classes
.flex-center { @include flex-center; }
.flex-container { @include flex-container; }
.flex-col-6 { @include flex-col-6; }