.align-center { text-align: center; }
.align-right {
    text-align: right;
    align-self: flex-end;
}

.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-4 { margin-top: 1rem; }
.mt-8 { margin-top: 2rem; }
.mt-10 { margin-top: 2.5rem; }
.mt-100 { margin-top: 100px; }
.mt-200 { margin-top: 200px; }
.mb-4 { margin-bottom: 1rem; }
.mb-8 { margin-bottom: 2rem; }
.ml-2 { margin-left: .5rem; }
.ml-4 { margin-left: 1rem; }
.mr-4 { margin-right: 1rem; }

.m-0 { margin: 0 !important; }
.p-0 { padding: 0 !important; }
.px-0 {
    padding-left: 0; 
    padding-right: 0; 
}
.py-0 {
    padding-top: 0; 
    padding-bottom: 0; 
}

.header-primary { @include header-primary; }
.header-small { @include header-small; }
.para-default { @include para-default; }
.para-muted { @include para-muted; }
.header-secondary-text { @include header-secondary-text; }

.bg-transparent {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}
.bg-primary { background-color: var(--color-primary); }
.text-primary {
    color: var(--color-primary);
    svg {
        color: var(--color-primary);
    }
}

// flex utils classes
.flex-center { @include flex-center; }
.flex-container { @include flex-container; }
.flex-col-start { @include flex-col-start; }
.flex-col-6 { @include flex-col-6; }
.w-full { width: 100%; }

.stick-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    padding-bottom: 5rem;
    background-color: #dbdbdb;
}
