.align-center { text-align: center; }
.align-right {
    text-align: right;
    align-self: flex-end;
}

.mt-4 { margin-top: 1rem; }
.mt-8 { margin-top: 2rem; }
.mt-10 { margin-top: 2.5rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-8 { margin-bottom: 2rem; }
.mt-100 { margin-top: 100px; }
.mt-200 { margin-top: 200px; }

.header-primary { @include header-primary; }
.header-small { @include header-small; }
.para-default { @include para-default; }
.para-muted { @include para-muted; }
.header-secondary-text { @include header-secondary-text; }

.bg-transparent {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

// flex utils classes
.flex-center { @include flex-center; }
.flex-container { @include flex-container; }
.flex-col-start { @include flex-col-start; }
.flex-col-6 { @include flex-col-6; }
